<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8" />
	<title>IV Entertainment Adminpanel</title>

	{% for file in js %}
		<script type="text/javascript" src="{{ file }}"></script>
	{% endfor %}

	{% for file in css %}
		<link rel="stylesheet" href="{{ file }}" type="text/css" />
	{% endfor %}

	<link rel="stylesheet" href="{{ base_dir }}/main.css" type="text/css" />
</head>

<body>


<nav class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<a href="{{ iv_self }}logout" class="btn btn-inverse pull-right">Logout</a>
		<a class="navbar-brand" href="#">IV Entertainment Adminpanel</a>

		<ul class="nav navbar-nav">
			{% for category, points in menu %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{category}}</a>
					<div class="spacer"></div>

					<ul class="dropdown-menu">
						{% for subpoint in points %}
							<li>
								<a href="{{ root_dir }}/admin{{ subpoint.path }}" class="menulink">{{subpoint.caption}}</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>

	</div>
</nav>

<div id="content">
	<noscript>
		<div class="alert alert-error">Bitte Javascript aktivieren!</div>
	</noscript>

	{% if error %}
		<pre class="alert alert-error">{{ error }}</pre>
	{% endif %}

	{% if success %}
		<pre class="alert alert-success">{{ success }}</pre>
	{% endif %}

	{{content|raw}}
</div>
</body>
</html>